---
import Layout from '../layouts/Layout.astro'
import ShaderBackground from '../components/ShaderBackground.jsx'
---

<Layout>
  <ShaderBackground client:load />

  <main class="main-content">
    <h1>rachel jean quinn</h1>
    <p>uva '25 comp sci grad, martial artist, and aspiring software engineer, among other things</p>

	<div class="link-container">
		<a href="https://github.com/quinntegral">github</a>
		<a href="https://www.linkedin.com/in/rachjeanquinn/" >linkedin</a>
	<a href="mailto:racheljeanquinn@proton.me">email</a>

	</div>
	
  </main>
</Layout>
